API_KEY=eCGo9bZjoxqGZW8h325LA3wlKV0vq01lIQ4w
BaseURL=https://api.cryptoinfo.me/
VALUTA_API_URL=https://api.coingecko.com/api/v3/simple/price?ids=bitcoin,monero,ethereum,tron,lightcoin,tether&vs_currencies=usd,rub
